%header.title
  %h1
    Debate topics
.home-content
  .content-inner
    %ul
      - Topic.top_level.alpha.each do |topic|
        %li
          %p
            = link_to topic.name, "/#{topic.slug}"
          - topic.child_topics.alpha.each do |child_topic|
            %ul
              %li
                %p
                  = link_to child_topic.name, "/#{child_topic.slug}"
    %P.link-to-pr
      = link_to 'Suggest new topics', 'https://github.com/convinceme/info/blob/master/topics.tsv'
.link-to-info
  %p
    = link_to 'About ConvinceMe', 'https://github.com/convinceme/info/blob/master/README.markdown'