- resource_class.omniauth_providers.each do |provider|
  = link_to t('.sign_in_with_provider', provider: provider.to_s.titleize, default: "Sign in with #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider)
  %small
    We need your username to track contributions