<article data-filename="Outlaw the Death Penalty.markdown" class="reviewed-file">
  <div class="argument">
    <h2>Outlaw the Death Penalty.markdown</h2>
    <div class="content-inner">

<span data-initialize-ref-count="0"></span>




<section class="text">



      <p>Proper justice insists upon a punishment that befits the crime committed. Though severe, the death penalty is, at times, an appropriate and proportionate punishment when the courts deem a crime sufficiently heinous.






      <sup id="cite_ref-retribution-(in-support-of-the-death-penalty)" class="reference">
        <a href="#cite_note-retribution-(in-support-of-the-death-penalty)">[1]</a>
      </sup>


         Not only does the death penalty provide closure for those affected by the crime,







      <sup id="cite_ref-to-murder-victims'-familes,-executing-killers-is-justice" class="reference">
        <a href="#cite_note-to-murder-victims'-familes,-executing-killers-is-justice">[2]</a>
      </sup>


         but it also demonstrates a state’s commitment to upholding a system of justice and, in doing so, deters potential criminals from future offenses.







      <sup id="cite_ref-studies-say-death-penalty-deters-crime" class="reference">
        <a href="#cite_note-studies-say-death-penalty-deters-crime">[3]</a>
      </sup>


        </p>
<p>Capital punishment is symbolically significant, in that it exhibits a state’s commitment to the safety of its law-abiding citizens and reinforces a population’s sense of security, a sentiment crucial to a prosperous and functional society.







      <sup id="cite_ref-arguments-in-favour-of-capital-punishment" class="reference">
        <a href="#cite_note-arguments-in-favour-of-capital-punishment">[4]</a>
      </sup>


         Further, execution prevents the offender from the possibility of re-offense.







      <sup id="cite_ref-once-a-criminal,-always-a-criminal?" class="reference">
        <a href="#cite_note-once-a-criminal,-always-a-criminal?">[5]</a>
      </sup>


         Though death-penalty skeptics argue that re-offense is rare when a criminal faces life without parole,







      <sup id="cite_ref-life-sentences-in-the-federal-criminal-justice-system" class="reference">
        <a href="#cite_note-life-sentences-in-the-federal-criminal-justice-system">[6]</a>
      </sup>


         one must consider two points: 1. the offender remains a threat to prison staff/fellow inmates if allowed to live, and 2., the offender, in certain instances, maintains influence over a non-incarcerated population compelled to do the offender’s bidding (e.g. in cases of despotic leaders who garner political influence).</p>
<p>One must maintain a consequentialist view, which argues that if the death of a few individuals nets an aggregate increase in well-being for a population, then the deaths within this system are morally justified.







      <sup id="cite_ref-consequentialism-and-the-death-penalty" class="reference">
        <a href="#cite_note-consequentialism-and-the-death-penalty">[7]</a>
      </sup>


        </p>




</section>


<section class="references">
  <ol>















      <li id="cite_note-retribution-(in-support-of-the-death-penalty)">
        <span class="cite-backlink">

            <b><a href="#cite_ref-1">^</a></b>

        </span>
        <span class="reference-text">
          <cite>


            <a href="http://deathpenaltycurriculum.org/student/c/about/arguments/argument2a.htm">Retribution (In Support of the Death Penalty)</a>.

              <i>Death Penalty Curriculum</i>

          </cite>
        </span>
      </li>











      <li id="cite_note-to-murder-victims'-familes,-executing-killers-is-justice">
        <span class="cite-backlink">

            <b><a href="#cite_ref-2">^</a></b>

        </span>
        <span class="reference-text">
          <cite>
            Gregory Kane

              (2003-02-05)

            <a href="http://www.baltimoresun.com/news/maryland/bal-md.kane05feb05-column.html">To Murder Victims' Familes, Executing Killers is Justice</a>.

              <i>Baltimore Sun</i>

          </cite>
        </span>
      </li>













      <li id="cite_note-studies-say-death-penalty-deters-crime">
        <span class="cite-backlink">

            <b><a href="#cite_ref-3">^</a></b>

        </span>
        <span class="reference-text">
          <cite>
            Robert Tanner

              (2007-06-11)

            <a href="http://www.washingtonpost.com/wp-dyn/content/article/2007/06/11/AR2007061100406.html">Studies Say Death Penalty Deters Crime</a>.

              <i>The Washington Post</i>

          </cite>
        </span>
      </li>















      <li id="cite_note-arguments-in-favour-of-capital-punishment">
        <span class="cite-backlink">

            <b><a href="#cite_ref-4">^</a></b>

        </span>
        <span class="reference-text">
          <cite>


            <a href="http://www.bbc.co.uk/ethics/capitalpunishment/for_1.shtml">Arguments in favour of capital punishment</a>.

              <i>BBC</i>

          </cite>
        </span>
      </li>

















      <li id="cite_note-once-a-criminal,-always-a-criminal?">
        <span class="cite-backlink">

            <b><a href="#cite_ref-5">^</a></b>

        </span>
        <span class="reference-text">
          <cite>
            Stephanie Slifer

              (2014-04-23)

            <a href="http://www.cbsnews.com/news/once-a-criminal-always-a-criminal/">Once a criminal, always a criminal?</a>.

              <i>CBS News</i>

          </cite>
        </span>
      </li>



















      <li id="cite_note-life-sentences-in-the-federal-criminal-justice-system">
        <span class="cite-backlink">

            <b><a href="#cite_ref-6">^</a></b>

        </span>
        <span class="reference-text">
          <cite>


            <a href="http://www.ussc.gov/research/research-publications/life-sentences-federal-criminal-justice-system">Life Sentences in the Federal Criminal Justice System</a>.

              <i>United States Sentencing Commission</i>

          </cite>
        </span>
      </li>





















      <li id="cite_note-consequentialism-and-the-death-penalty">
        <span class="cite-backlink">

            <b><a href="#cite_ref-7">^</a></b>

        </span>
        <span class="reference-text">
          <cite>
            Dominic J. Wilkinson, Thomas Douglas

              (2008-11-17)

            <a href="http://www.tandfonline.com/doi/abs/10.1080/15265160802478461?journalCode=uajb20;http://www.law.uchicago.edu/files/files/239.crs-av.capital-punishment.pdf">Consequentialism and the Death Penalty</a>.

              <i>The American Journal of Bioethics</i>

          </cite>
        </span>
      </li>

  </ol>
</section>


<div class="link-to-pr">
  <a href="https://github.com/convinceme/arguments_against/edit/gh-pages/Outlaw%20the%20Death%20Penalty.markdown">Improve this argument</a>
</div>


<div class="character-count">
  <strong>Character count:</strong>
  <span>1392</span>
</div>
    </div>
  </div>
</article>