.editing-debate.container-fluid
  %header
    %h1
      Editing Argument
      %strong
        = perspective.pro? ? 'For' : 'Against'
      %em
        = @topic.name
  = form_tag debate_path(@topic.slug, perspective: @perspective.slug), method: :put do
    .row
      - if @argument && @argument.body_html
        .col-sm-6
          .argument
            .content-inner
              - if @argument && @argument.body_html
                = @argument.body_html.html_safe
      - else
        .col-sm-3
      .col-sm-6.argument-body-form
        = text_area_tag :body, @argument.body_html, rows: 3, class: 'form-control'
    .row.mt-2
      .col-sm-6.col-md-3.offset-6.offset-md-9.submit-suggestion
        = submit_tag 'Suggest update', class: 'btn btn-primary'
    .row.mt-4.references-title
      .col-6
        %h2
          References
      .col-6.text-right
        %a.add-additional-reference.collapse{ href: '#' }
          Add a new reference

    .row.references-form-fields.mt-2
      - ([@argument.empty_reference] + @argument.references).each_with_index do |reference, i|
        .col-md-6.individual-reference{ class: ('emptyRef' if i == 0) }
          .row
            .col-6
              = label_tag "reference_#{i}_title", 'Title'
              = text_field_tag "reference_#{i}_title", reference[:title], class: 'form-control'
            .col-6.col-lg-4
              = label_tag "reference_#{i}_author", 'Author'
              = text_field_tag "reference_#{i}_author", reference[:author], class: 'form-control'
            .col-lg-6.order-2
              = label_tag "reference_#{i}_link", 'Link'
              = text_field_tag "reference_#{i}_link", reference[:link], class: 'form-control'
            .col-lg-6.col-8.order-3
              = label_tag "reference_#{i}_publisher", 'Publisher'
              = text_field_tag "reference_#{i}_publisher", reference[:publisher], class: 'form-control'
            .col-lg-2.col-4.order-4.order-lg-1
              = label_tag "reference_#{i}_date_published", 'Published'
              = text_field_tag "reference_#{i}_date_published", reference[:date_published], class: 'form-control'
