{% comment %}

  Explanation of what we're doing to render the text content in psuedo ruby:

  body = "1 <ref> A </ref> 2 <ref> B </ref> <ref> A </ref>"
  body_split = body.split('<ref>')
  #       i.e. [ '1', 'A </ref> 2', 'B </ref>', 'A </ref>' ]

  if text contains '</ref>'
    ref_and_text = text.split('</ref>')
    ref = ref_and_text.first.normalize_whitespace.strip.slugify

    increment ref_number
    render link from ref
    if ref_and_text.length > 1
      render ref_and_text.last # e.g. [ 'A', '2']
  else
    render text # e.g. the first group

  --------
  References - read the code or something

{% endcomment %}
<span data-initialize-ref-count="{% increment ref_number %}"></span>
{% assign citations = '' | split: '' %}
{% assign body_split = content | split: '<ref>' %}
{% assign char_count = '' %}
{% comment %} ^ Instatiate variables, including ref_number since it starts at 0 {% endcomment %}
<section class="text">
  {% for text in body_split %}
    {% if text contains '</ref>' %}
      {% assign ref_and_text = text | split: '</ref>' %}
      {% assign ref = ref_and_text.first | strip | strip_newlines | downcase | replace: '  ', ' ' | replace: ' ', '-' | split: '|' %}
      {% assign citations = citations | concat: ref %}
      <sup id="cite_ref-{{ ref }}" class="reference">
        <a href="#cite_note-{{ ref }}">[{% increment ref_number %}]</a>
      </sup>
      {% if ref_and_text.size == 2 %}
        {% assign char_count = char_count | append: ref_and_text.last %}
        {{ ref_and_text.last }}
      {% endif %}
    {% else %}
      {% assign char_count = char_count | append: text %}
      {{ text }}
    {% endif %}
  {% endfor %}
</section>


<section class="references">
  <ol>
    {% assign uniq_references = citations | uniq %}
    {% assign ref_titles = page.references | map: 'title' %}
    {% assign ref_slugs = '' | split: '' %}
    {% assign alphabet = 'abcdefghijklmnopqrstuvwxyz' | split: '' %}
    {% for title in ref_titles %}
      {% assign slug = title | strip | strip_newlines | downcase | replace: '  ', ' ' | replace: ' ', '-' | split: '|' %}
      {% assign ref_slugs = ref_slugs | concat: slug %}
    {% endfor %}

    {% for ref_slug in uniq_references %}
      {% for s in ref_slugs %}
        {% if s == ref_slug %}
          {% assign index_of_ref = forloop.index0 %}{% break %}
        {% endif %}
      {% endfor %}
      {% assign reference = page.references[index_of_ref] %}

      {% assign citation_positions = '' | split: '' %}
      {% for s in citations %}
        {% if s == ref_slug %}
          {% assign citation_position = forloop.index | split: '|' %}
          {% assign citation_positions = citation_positions | concat: citation_position %}
        {% endif %}
      {% endfor %}

      <li id="cite_note-{{ ref_slug }}">
        <span class="cite-backlink">
          {% if citation_positions.size == 1 %}
            <b><a href="#cite_ref-{{ citation_positions.first }}">^</a></b>
          {% else %}
            ^
            {% for n in citation_positions %}
              <a href="#cite_ref-{{ n }}"><sup><i>
                <b>{{ alphabet[forloop.index0] }}</b>
              </i></sup></a>
            {% endfor %}
          {% endif %}
        </span>
        <span class="reference-text">
          <cite>
            {{ reference.author }}
            {% if reference.date_published %}
              ({{ reference.date_published }})
            {% endif %}
            <a href="{{ reference.link }}">{{ reference.title }}</a>.
            {% if reference.publisher %}
              <i>{{ reference.publisher }}</i>
            {% endif %}
          </cite>
        </span>
      </li>
    {% endfor %}
  </ol>
</section>


<div class="link-to-pr">
  <a href="{{ repository_url }}/edit/gh-pages/{{ uri_escaped_page_name }}">Improve this argument</a>
</div>


<div class="character-count">
  <strong>Character count:</strong>
  <span>{{ char_count | strip_html | strip | strip_newlines | replace: '  ', ' ' | size }}</span>
</div>