%header.title
  %h1
    = @topic.name
.clearfix
  - cache @topic do
    - @topic.perspective_hashes.each do |persp_hash|
      - argument = persp_hash[:argument_id] && @topic.arguments.find(persp_hash[:argument_id])
      .argument
        .content-inner
          - if argument && argument.body_html
            = argument.body_html.html_safe
            %span.argument-enumerator
              = persp_hash[:enum_letter]
            .link-to-pr
              = link_to "Improve this argument (actual link)", edit_debate_path(@topic.to_param, perspective: perspective.slug)
          - else
            - perspective = Perspective.find(persp_hash[:perspective_id])
            .link-to-pr
              = link_to "Write the #{perspective.name.downcase}", edit_debate_path(@topic.to_param, perspective: perspective.slug)

%section.voting-section
  - if !current_user || current_user.can_vote?(kind: 'quality', topic: @topic)
    .voting-text
      / ^ Can't be a %p, because inline and it has a form in it
      Which is better argued: #{ argument_links(@topic.perspective_hashes, kind: 'quality') }
  - if !current_user || current_user.can_vote?(kind: 'opinion', topic: @topic)
    .voting-text
      Which do you agree with more: #{ argument_links(@topic.perspective_hashes, kind: 'opinion') }

%section.related-topics
  - if @topic.child_topics.present?
    %h4
      More specific topics the government could make:
    %ul
      - @topic.child_topics.each do |child_topic|
        %li
          = link_to child_topic.name, "/#{child_topic.slug}"
  - if @topic.parent_topic.present?
    %h4
      More general topic the government could make:
    %ul
      %li
        = link_to @topic.parent_topic.name, "/#{@topic.parent_change.slug}"
