%section.single-content
  .content-inner
    - resource_class.omniauth_providers.each do |provider|
      = link_to t('.sign_in_with_provider', provider: provider.to_s.titleize, default: "Sign in with #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider)
      %p
        %small.less-strong
          %br
          We only ask for your public information, we use your username to track contributions