*, *:before, *:after { box-sizing: border-box; }


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, section,
header, footer {
  margin: 0;
  padding: 0;
  display: block;
}


/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-family: $base-font-family;
  color: $text-color;
  background-color: $background-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-bottom: $spacing-unit;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 1.5rem;
}
h1 { font-size: $h1-font-size; }
h2 { font-size: 1.2 * $base-font-size; }


/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul, > ol {
    margin-bottom: 0;
  }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  line-height: initial;
  font-weight: $base-font-weight;
}


/**
 * Links
 */
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}


/**
 * Wrapper
 */
.wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
