$content-width: 90%;

%content-section {
  margin-bottom: $spacing-unit;
  .content-inner {
    background: #fff;
    border: 1px solid $line-color;
    border-left-width: 0;
    border-right-width: 0;
    padding: $spacing-unit $spacing-unit 0;
    height: 100%;
    position: relative;
  }
}

%single-content { @extend %content-section; }

@media (min-width: $small-screens) {
  %content-section .content-inner {
    border-radius: $border-radius;
    border-left-width: 1px;
    border-right-width: 1px;
  }
  %single-content {
    width: $content-width;
    margin-left: auto;
    margin-right: auto;
  }
}

%content-without-inner {
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}

@media (min-width: $large-screens) {
  %single-content {
    padding-left: $spacing-unit; padding-right: $spacing-unit;
  }
  %content-without-inner {
    padding-left: 2 * $spacing-unit; padding-right: 2 * $spacing-unit;
  }
}


.argument { @extend %content-section; }
.single-content { @extend %single-content; }

.title {
  @extend %single-content;
  @extend %content-without-inner;
}

@media (min-width: $small-screens) and (max-width: $large-screens) {
  .title { padding-left: 0; padding-right: 0; }
}
@media (min-width: $large-screens) {
  .title { padding-left: $spacing-unit; padding-right: $spacing-unit; }
}

// Eventually, replace with flexbox, so only use this width stuff when in clearfix
@media (min-width: $small-screens) and (max-width: $large-screens) {
  .clearfix .argument {
    width: $content-width;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (min-width: $large-screens) {
  .clearfix .argument {
    width: .5 * $content-width;
    float: left;
    padding: 0 0 0 $spacing-unit;
    &:first-of-type { margin-left: (100% - $content-width)/2; }
    &:last-of-type { padding-right: $spacing-unit; }
    &:first-of-type .section-inner { margin-left: auto; }
    &:last-of-type .section-inner { margin-right: auto; }
  }
}

section.text { margin-bottom: 3 * $spacing-unit; }


.argument-enumerator {
  background: $enumerator-color;
  border-top: 1px solid $line-color;
  border-left: 1px solid $line-color;
  display: block;
  padding: .5em;
  float: right;
  margin: -2.55rem -.95rem 0 0;
  border-radius: 0 0 3px 0;
}


.link-to-pr {
  text-align: center;
  margin: 2 * $spacing-unit 0 $spacing-unit + 4px;
  a {
    color: $grey-color-light;
  }
}


.references {
  font-size: $references-font-size;
  line-height: 1.4em;
  ol li { margin-bottom: .5em; }
  .cite-backlink {
    margin-left: -2px;
  }
}

.related-topics {
  @extend .title;
  margin-top: 4 * $spacing-unit;
  h4 {
    color: $grey-color;
    font-size: 110%;
    margin-bottom: 0.5 * $spacing-unit;
  }
  li { opacity: .75; }
}