// Override form controls, make them look like our debates text display
// :( that we have to write so much overriding, but ¯\_(ツ)_/¯
.form-control {
  font-family: $base-font-family;
  color: $text-color;
  border-color: $line-color;
  font-size: 100%;
  font-family: $base-font-family;
  line-height: $base-line-height;
}
label { color: $grey-color; }

// Styles for editing debates
.editing-debate {
  .argument {
    opacity: 0.6;
    margin-bottom: 0;
    .content-inner .references, .content-inner .link-to-pr { display: none; }
    // Make the argument reach the whole way to the edges of the screen on small screens, the way the styles
    // expect it to
    @include media-breakpoint-down(sm) {
      margin-left: -$spacing-unit;
      margin-right: -$spacing-unit;
    }
  }

  .argument-body-form .form-control {
    padding: $spacing-unit;
    min-height: 10rem;
    margin-top: 2rem;
    resize: vertical;
    @include media-breakpoint-up(sm) {
      height: 100%;
      margin-top: 0;
    }
  }

  .references-title {
    h2 {
      font-size: $h1-font-size;
      margin: 0;
      color: $grey-color-dark;
    }
    .add-additional-reference {
      color: $grey-color-light;
      &:hover, &:active, &:focus, &.active { color: $link-color; }
    }
  }

  .references-form-fields {
    .individual-reference { margin-bottom: 2* $spacing-unit; }
    .form-control { line-height: 1; }

    @include media-breakpoint-up(md) {
      margin-bottom: .5rem;
      .individual-reference { margin-bottom: 0; }
    }

    // The gutter between the reference fields is too big and makes them look disassociated,
    // make it smaller
    .individual-reference > .row {
      margin-left: -7.5px;
      margin-right: -7.5px;
      .col-6, .col-8, .col-4, .col-lg-4, .col-lg-6, .col-lg-2 {
        padding-left: 7.5px;
        padding-right: 7.5px;
      }
    }
  }
  .submit-suggestion .btn { width: 100%; }
}
