nav.navbar {
  padding: 10px $spacing-unit 0;
  margin-bottom: 3 * $spacing-unit;
  a.brand {
    font-weight: bold;
    color: $text-color;
    &:hover, &:active { text-decoration: none; }
    img {
      width: $base-font-size * 2;
      height: auto;
      vertical-align: middle;
      display: block;
      float: left;
      margin-right: 0.5em;
    }
  }
  .navbar-right {
    float: right;
    text-align: right;
    a { color: $text-color; }
  }
}
