.home-content {
  @extend .single-content;
  a:visited { color: $grey-color; }
}


.link-to-info {
  @extend %single-content;
  @extend %content-without-inner;
  text-align: right;
  a { color: darken($link-color, 10%); }
}