.review-status-title {
  small { font-size: $base-font-size; }
  .status-pending { color: $yellow; }
  .status-success { color: $green; }
  .status-error, .status-failure { color: $red; }
}

.commit-review-hr {
  margin-bottom: 3 * $spacing-unit;
}

.character-count {
  display: none;
  text-align: center;
  margin: 2 * $spacing-unit 0 $spacing-unit;
  color: $char-count-color;
}

.character-count-over .character-count {
  color: $red;
}

.reviewed-file, body.display-char-count {
  .link-to-pr { margin-bottom: $spacing-unit; }
  .character-count { display: block; }
}

.reviewed-file {
  h2 { margin-bottom: 8px; }
  .link-to-pr { display: none; }
}