.button_to {
  display: inline;
  padding: 0; margin: 0;
  input[type="submit"] {
    display: inline;
    background: none;
    border: none;
    outline: none;
    color: $link-color;
    padding: 0; margin: 0;
    cursor: pointer;
    text-shadow: none;
    font: inherit;
    font-size: inherit;
  }
}
.voting-section {
  @extend %single-content;
  @extend %content-without-inner;
  margin-top: 2 * $spacing-unit;
  margin-bottom: 3 * $spacing-unit;
  .voting-text {
    text-align: center;
    margin-bottom: .5em;
  }
}