// Base application stylesheet.
// taken from Jekyll
@charset "utf-8";

// Our variables
$base-font-family: helvetica, arial, freesans, clean, sans-serif;
$base-font-size:   15px;
$base-font-weight: normal;
$base-line-height: 1.7;
$references-font-size: 85%;
$h1-font-size: 1.5 * $base-font-size;

$small-font-size:  $base-font-size * 0.875;

$blue:             #4183c4;
$grey-color:       #a09a92;
$grey-color-light: lighten($grey-color, 20%);
$grey-color-dark:  darken($grey-color, 25%);
$red:              #e31c3d;
$yellow:           #ffb700;
$green:            #5eb95e;

$background-color: rgb(246, 246, 246);
$text-color:       #333;
$link-color:       $blue;
$line-color:       rgb(183, 180, 182);
$enumerator-color: $background-color;
$char-count-color: $green;

$spacing-unit: $base-font-size;
$border-radius: 3px;

$large-screens: 950px;
$small-screens: 500px;

.less-strong { opacity: .7; }

@import
  "base",
  "header",
  "content",
  "voting",
  "alert",
  "home",
  "reviews"
;

// While simplicity is to be praised, we're importing bootstrap to make a few things easier
// Eventually, it might be nice great to drop bootstrap.
@import 'bootstrap-custom';

// Our special form styles. For editing debates, topics, etc
@import 'forms';
