<article data-filename="<%= filename %>" class="reviewed-file <%= 'character-count-over' if too_long %>">
  <div class="argument">
    <h2><%= filename %></h2>
    <div class="content-inner">
      <%= liquid %>
    </div>
  </div>
</article>