%header.title
  %h1
    Changed files in
    #{ link_to @commit_review.repository, @commit_review.repository_url } Pull Request #{ link_to "##{@commit_review.pr_number}", @commit_review.pr_url }
    %small.less-strong
      @#{@commit_review.short_sha}
  %h2.review-status-title
    %span{ class: "status-#{@commit_review.status}" }
      Review #{@commit_review.status}
    %small.less-strong
      = @commit_review.status_description

%hr.commit-review-hr

= File.read(@commit_review.output_filepath).html_safe