!!!
%html
  %head
    - current_page_title = @title || 'Convinceme'
    - page_description = current_page_title # It'd be cool if we did something better than this ;)
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title #{current_page_title}
    %meta{ content: 'en', 'http-equiv' => 'Content-Language' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ name: 'viewport', content: 'width=device-width' }
    %meta{ property: 'og:image', content: "#{ENV['BASE_URL']}/icon.png" }
    %meta{ property: 'og:site_name', content: 'ConvinceMe' }
    <link rel="apple-touch-icon-precomposed apple-touch-icon" href="/apple-touch-icon-precomposed.png"/>
    - og_path = (controller_name == 'arguments' && @change) ? "/#{@change.slug}" : request.path.to_s
    %meta{ property: 'og:url', content: "#{ENV['BASE_URL']}#{og_path}" }
    %meta{ property: 'og:title', content: current_page_title }
    %meta{ property: 'og:description', content: page_description }

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{ class: ('display-char-count' if @display_char_count) }
    %nav.navbar
      %a.brand{ href: root_url }
        %img{ src: '/icon.png', alt: 'Logo' }
        ConvinceMe
      %p.navbar-right
        - if current_user.present?
          #{ current_user.display_name } (#{ current_user.score })
          \|
          = link_to 'Sign out', destroy_user_session_path, method: :delete
        - else
          = link_to 'login', new_user_session_url, class: 'nav-link'
    .main-container
      = render '/layouts/flash_messages' 
      = yield

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-91862821-1', 'auto');
      ga('send', 'pageview');
